@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

:root {
  /* COLOR */
  --color-primary: rgb(247, 247, 83);
  --color-primary-dark: rgb(192, 192, 20);
  --color-secondary: rgb(235, 73, 186);
  --color-secondary-dark: rgb(128, 25, 97);
  --color-ternary: rgb(255, 110, 43);
  --color-ternary-dark: rgb(153, 64, 23);

  /* FONT */
  --font-display: "Press Start 2P", sans-serif;

  /* UTILITY */
  --gap-default: 1rem;
  --box-shadow-default: 0.5rem 0.5rem 0 var(--color-secondary);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  min-width: 100%;
  height: 100vh;
  background-color: black;
  background-image: linear-gradient(
    to bottom,
    black 20%,
    rgb(5, 5, 5) 20% 30%,
    rgb(13, 13, 13) 30% 40%,
    rgb(20, 20, 20) 40% 50%,
    rgb(27, 27, 27) 50% 60%,
    rgb(33, 33, 33) 60% 70%,
    rgb(40, 40, 40) 70% 80%,
    rgb(44, 44, 44) 80% 90%,
    rgb(48, 48, 48) 90%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;

  font-family: var(--font-display);
}

h1 {
  margin-bottom: 8rem;
  color: var(--color-primary);

  font-size: 6rem;
  text-shadow: 0.5rem 0.5rem 0 var(--color-primary-dark),
    1rem 1rem 0 var(--color-secondary),
    1.5rem 1.5rem 0 var(--color-secondary-dark);
}

.container {
  position: relative;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-default);
}

.row {
  display: flex;
  gap: var(--gap-default);
}

.box {
  width: 6rem;
  aspect-ratio: 1;
  background-color: #ffffff;

  border-radius: 5px;

  cursor: pointer;
  transition: 0.3s;
}

.clicked--1 {
  background-color: var(--color-secondary);
}

.clicked--2 {
  background-color: var(--color-primary);
}

.clicked--3 {
  background-color: var(--color-ternary);
}

.clicked--4 {
  background-color: #222;
}

.box:hover {
  opacity: 0.7;
}

.control-panel {
  position: absolute;
  /* top: 5rem; */
  top: 0;
  right: 0;

  display: grid;
  justify-items: center;

  width: 23rem;

  translate: 105% 0;
}

.filter-panel {
  width: 23rem;
  position: absolute;
  top: 0;
  left: 0;
  translate: -90% 0;

  /* border: 1px solid yellow; */
}

.filter-panel > *:not(:last-child) {
  margin-bottom: 5rem;
}

.grid-group {
  color: white;
  /* border: 1px solid red; */
  margin-bottom: 3rem;
}

h2 {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.input__grid-size {
  padding: 1rem;
  width: 72%;

  font-size: 2rem;
  font-family: var(--font-display);

  border: 1px solid black;
}

.btn {
  display: inline-block;
  width: 70%;

  padding: 1.2rem;

  background-color: white;
  background-image: linear-gradient(
    135deg,
    white 50%,
    var(--color-secondary-dark) 50%
  );
  background-size: 250%;
  border: 1px solid black;

  font-size: 1.5rem;
  text-align: center;

  box-shadow: var(--box-shadow-default);
  cursor: pointer;

  transition: 0.2s;
}

.btn:not(:last-child) {
  margin-bottom: 2rem;
}

.btn:hover {
  background-position: 100%;
  color: white;
}

.rgb__panel {
  padding: 2rem;
}

.display-group {
  display: flex;
  align-items: center;
}

.display-group:not(:last-child) {
  margin-bottom: 1rem;
}

.display {
  width: 80%;
  padding: 1rem;
  font-size: 2.5rem;
  font-family: var(--font-display);
}

.display:focus,
.input__grid-size:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.current-color-display {
  color: white;
}

.current-color-display span {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.color-group {
  display: flex;
  justify-content: space-around;
}

.color {
  position: relative;

  width: 3.5rem;
  aspect-ratio: 1;

  border-radius: 50%;

  box-shadow: inset 0 -0.5rem 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s;
}

.color:after {
  content: "";
  position: absolute;

  width: 100%;
  aspect-ratio: 1;
  scale: 1.2;

  background-color: white;
  border-radius: 50%;
  z-index: -100;
}

.color:active {
  box-shadow: inset 0 0.3rem 0 rgba(0, 0, 0, 0.5);
}

.color-primary {
  background-color: var(--color-primary);
}

.color-primary.unpicked-color:hover {
  background-color: var(--color-primary);
}

.color-secondary {
  background-color: var(--color-secondary);
}

.color-secondary.unpicked-color:hover {
  background-color: var(--color-secondary);
}

.color-ternary {
  background-color: var(--color-ternary);
}
.color-ternary.unpicked-color:hover {
  background-color: var(--color-ternary);
}

.color-black {
  background-color: #222;
}

.color-black.unpicked-color:hover {
  background-color: #333;
}

.current-color {
  box-shadow: inset 0 0.3rem 0 rgba(0, 0, 0, 0.5);
}

.color-primary.unpicked-color {
  background-color: var(--color-primary-dark);
}
.color-secondary.unpicked-color {
  background-color: var(--color-secondary-dark);
}
.color-ternary.unpicked-color {
  background-color: var(--color-ternary-dark);
}
.color-black.unpicked-color {
  background-color: #777;
}

.fas {
  color: white;
  font-size: 4rem;
}

.bg-music-control {
  width: min-content;
  cursor: pointer;
  transition: 0.15s;
}

.bg-music-control:hover {
  filter: brightness(0.8);
}

.bg-music {
  display: none;
}

label {
  color: white;
}
